extends layout

block content
  div(class="jumbotron")
    if user && user.email
      -const msg = '환영합니다. ' + user.nickname + '님'
      p(class="lead")= msg
      form(action="/task" method="post")
        div(class="form-group")
          input(type="text" class="form-control" name="content" placeholder="할 일을 입력하세요" required autofocus)
          button(type="submit" class="btn btn-default") 등 록
    else
      p(class="lead") 환영합니다. 로그인 후 사용해주세요!!
      p#register-btn
        a(class="btn btn-lg btn-primary" href="/register" role="button") 회원가입 
      p#login-btn
        a(class="btn btn-lg btn-primary" href="/login" role="button") 로그인
  #tasks-container
    #tasks-header  
      h3 Task List
    #tasks-list
      for task, index in tasks
        -const formID = 'taskform-' + index
        -const taskID = 'task-' + index
        -const contentID = 'content-' + index
        -const updateID = 'update-' + index
        -const deleteID = 'delete-' + index
        form(id= formID class="task-list")
          input(id= taskID type="hidden" name="id" value= task.id)
          input(id= contentID type="text" value= task.content readOnly)
          button(id= updateID class="btn btn-default") 수 정
          button(id= deleteID class="btn btn-default") 삭 제
  script.
    function addBtnEvent() {
      const taskForms = document.getElementsByClassName('task-list');

      for (let i = 0; i < taskForms.length; i++) {
        const updateBtnId = 'update-'+ i;
        const deleteBtnId = 'delete-' + i;
        const contentId = 'content-' + i;

        const updateBtn = document.getElementById(updateBtnId);
        const deleteBtn = document.getElementById(deleteBtnId);
        const contentInput = document.getElementById(contentId);
        const taskID = document.getElementById('task-' + i).value;
        
        const url = '/task/' + taskID;

        updateBtn.addEventListener('click', event => {
          event.preventDefault();
          const content = prompt('바꿀 내용을 입력하세요');
          if (!content) return alert('내용을 반드시 입력하셔야 합니다');
          const xhr = new XMLHttpRequest();
          xhr.onload = function () {
            if (xhr.status === 200 || xhr.status === 201) location.href = '/';
            else console.error(xhr.responseText);
          };
          xhr.open('PATCH', `/task/${taskID}/${content}`);
          xhr.send();
        });

        deleteBtn.addEventListener('click', event => {
          event.preventDefault();
          const xhr = new XMLHttpRequest();
          xhr.open('DELETE', url);
          xhr.onload = function () {
            if (xhr.status === 200) {
              location.reload();
            } else {
              console.error(xhr.responseText);
            }
          };
          xhr.send();
        });
      };
    }

    window.onload = function() {
        addBtnEvent();
    }


 
