extends layout

block content
  form(class="form-signin" action='/auth/register', method='post')
    h2(class="form-signin-heading") 회 원 가 입
    input(type="email" name="email" class="form-control" placeholder="E-mail" required autofocus)
    input(type="password" name="password" class="form-control" placeholder="Password" required)
    input(type="password" name="password2" class="form-control" placeholder="Password" required)
    input(type="text" name="nickname" class="form-control" placeholder="Nickname" required)
    button(class="btn btn-lg btn-primary btn-block" type="submit") 회 원 가 입
    if joinError
      .error-message= joinError